* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
}

header {
	position: fixed;
	background-color: black;
	color: white;
	top: 25px;
	width: 100%;
	z-index: 2;
}

.headerBtn {
	color: inherit;
	text-decoration: inherit;
	font-size: 25px;
	font-family: 'Courier New', Courier, monospace;
	margin: 5px;
}

.headerBtn:active,
.headerBtn:hover {
	color: black;
	background-color: white;
}

#about {
	padding-top: 75px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 10%;
	padding-bottom: 50px;
}

.aboutPhoto {
	width: 250px;
	height: auto;
}

.aboutText {
	font-size: 25px;
	max-width: 600px;
	margin: 10px;
}

#projects {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
	gap: 25px;
}

@media (max-width: 600px) {
	#projects {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}
	.projectCard {
		flex-wrap: wrap;
		width: 100%;
		justify-content: center;
		align-items: center;
	}
	#contact {
		align-items: center;
		justify-content: center;
	}
	.headerBtn {
		font-size: 20px;
		width: 30%;
		text-align: center;
		height: 100%;
		margin: 0;
	}
	header {
		display: flex;
		justify-content: space-around;
		padding: 0;
	}
}

.projectCard {
	align-self: center;
	justify-self: center;
	padding: 10px;
	display: flex;
	margin-top: 20px;
	background-color: white;
	color: black;
	/* border-left: 15px solid black; */
	box-shadow: 0 29px 52px rgba(0, 0, 0, 0.4), 0 25px 16px rgba(0, 0, 0, 0.2);
}

.projectImage {
	width: 300px;
	aspect-ratio: 1;
	height: auto;
}

.projectImage:hover {
	cursor: pointer;
}

.projectInfo {
	position: relative;
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 40px;
}

.projectLinks {
	position: absolute;
	bottom: 0;
	right: 0;
	width: fit-content;
	display: flex;
}

.liveBtn {
	background-image: url('./images/9042799_open_in_window_icon.png');
}

.gitBtn {
	background-image: url('./images/git.png');
}

.liveBtn,
.gitBtn {
	background-size: 30px;
	background-position: center;
	width: 30px;
	aspect-ratio: 1;
}

#contact {
	margin: 75px 25px 25px 75px;
	align-items: center;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
}

.contactTitle {
	font-size: 25px;
	margin-left: auto;
	margin-right: 0;
}

.contactInfo {
	font-size: 25px;
}
